/2013PrviKolokvijum/Klijent/nbproject/private/
/2013PrviKolokvijum/Server/nbproject/private/
/2013PrviKolokvijum/Komunikacija/nbproject/private/
/2013PrviKolokvijum/Komunikacija/dist/
/2013PrviKolokvijum/Komunikacija/build/
/2013PrviKolokvijum/Server/build/
/2013PrviKolokvijum/Klijent/build/
